/* Import fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* Color variables */
:root {
  --light-grey: #dadada;
  --dark-grey: #303030;
  --purple: #5425b8;
  --white: #ffffff;
}

/* General styling for whole document */
body {
  font-family: "Montserrat", sans-serif;
  background-color: var(--dark-grey);
  color: var(--white);
}

/* -- Component styling -- */

button {
  cursor: pointer;
  border: none;
  font-family: inherit;
  background-color: var(--light-grey);
  color: var(--dark-grey);
}

input {
  border: none;
  font-family: inherit;
  border-radius: 0.5rem;
  background-color: var(--white);
}

a {
  color: var(--white);
}

.loader {
  align-items: center;
}

/* Button Primary */
.button-primary {
  border: none;
  border-radius: 0.5rem;
  width: fit-content;
  padding: 0.5rem 2rem;
  font-weight: 700;
  font-size: 1rem;
  margin: auto;
}

/* SignUp styling */
.signup {
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.signup img {
  width: 16rem;
  margin-top: 2rem;
}
.signup p {
  width: 80%;
  text-wrap: balance;
  align-self: flex-start;
  font-size: 1.5rem;
}
.signup form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.signup form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.signup form label {
  margin-bottom: 0.25rem;
}
.signup form input {
  font-size: 1rem;
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
}
.signup form button {
  margin-top: 3rem;
}
.signup form div p {
  font-size: 0.85rem;
  width: 100%;
}
.bottom-content {
  width: 100%;
  padding: 0.5rem;
  text-align: center;
}
.bottom-content p {
  width: 100%;
  font-size: 1rem;
}
